
#  add your database url for the guestbook and post views
DATABASE_URL='mysql://...'


#  next auth configuration... you can use any string for the secret... it is used to encrypt the session
#  next auth also requires a url... this is the url of the site... on production, set it to the domain of the site...
#  for vercel, it automatically sets it to the domain of the site...
NEXTAUTH_SECRET=ishika
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET=ishikia

# configure the providers you want to use... 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ocktokit uses the github token to fetch the data from github... you can get the token from the github developer dashboard
#  the token is needed to authenticate the request to the github api
GITHUB_TOKEN=

#  Spotify configuration... you can get the refresh token from the spotify developer dashboard
NEXT_PUBLIC_SPOTIFY_REFRESH_TOKEN=
NEXT_PUBLIC_SPOTIFY_CLIENT_SECRET=
NEXT_PUBLIC_SPOTIFY_CLIENT_ID=

# configure depending on your environment... on production, set NODE_ENV=production and NEXT_PUBLIC_BASE_URL=https://yourdomain.com
#  on development, set NODE_ENV=development and NEXT_PUBLIC_BASE_URL=http://localhost:3000
#  this is used for the absolute url of the site and the node env helps to configure the prisma client
NODE_ENV=development
NEXT_PUBLIC_BASE_URL=http://localhost:3000